PORT=3000

# Conexión local a la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=sis257_nocturnecoldstorage

# Clave secreta para tokens JWT
JWT_SECRET=escribe_aqui_una_clave_secreta_segura
